@model TicketSalesSystem.Models.PublicNotice

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PublicNotice</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublicNoticeTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublicNoticeTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublicNoticeDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublicNoticeDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublicNoticeStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublicNoticeStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.EmployeeID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PublicNoticeID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
