@model TicketSalesSystem.Models.Programme

@{
    ViewData["Title"] = "詳細資訊";
}

<h1>@Model.ProgrammeName@ViewData["Title"]</h1>

<div>
    <div class="row">
        <div class="col-2">
            @Html.DisplayNameFor(model => model.ProgrammeName)
        </div>
        <div class="col-10">
            @Html.DisplayFor(model => model.ProgrammeName)
        </div>
        <div class="col-2">
            @Html.DisplayNameFor(model => model.ProgrammeDescription)
        </div>
        <div class="col-10">
            @Html.DisplayFor(model => model.ProgrammeDescription)
        </div>
        <div class="col-2">
            @Html.DisplayNameFor(model => model.CreatedTime)
        </div>
        <div class="col-10">
            @Html.DisplayFor(model => model.CreatedTime)
        </div>
        <div class="col-2">
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </div>
        <div class="col-10">
            @Html.DisplayFor(model => model.UpdatedAt)
        </div>
        <div class="col-2">
            @Html.DisplayNameFor(model => model.SeatImage)
        </div>
        <div class="col-10 " style="height: 100px;">           
                @if (Model.SeatImage != null)
                {
                <img src="/Photos/SeatImage/@Model.SeatImage" class="h-100 w-100" style="object-fit: contain;" alt="@Model.ProgrammeName">
                }                  
        </div>
        <div class="col-2">
            @Html.DisplayNameFor(model => model.LimitPerOrder)
        </div>
        <div class="col-10">
            @Html.DisplayFor(model => model.LimitPerOrder)
        </div>
        <div class="col-2">
            @Html.DisplayNameFor(model => model.EmployeeID)
        </div>
        <div class="col-10">
            @Html.DisplayFor(model => model.Employee.Name)
        </div>
        <div class="col-2">
            @Html.DisplayNameFor(model => model.PlaceID)
        </div>
        <div class="col-10">
            @Html.DisplayFor(model => model.Place.PlaceName)
        </div>
        <div class="col-2">
            @Html.DisplayNameFor(model => model.ProgrammeStatusID)
        </div>
        <div class="col-10">
            @Html.DisplayFor(model => model.ProgrammeStatus.ProgrammeStatusName)
        </div>
        <div>
            @await Component.InvokeAsync( "VCSessions", new { programmeID = Model.ProgrammeID })
        </div>
    </div>
   



</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProgrammeID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
