@using TicketSalesSystem.ViewModel.Programme
@model IEnumerable<VMProgramme>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-controller="ProgrammeDTO" asp-action="CreateStep1">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>            
            <th>
                @Html.DisplayNameFor(model => model.ProgrammeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoverImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlaceName)
            </th>             
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>          
            <th>
                @Html.DisplayNameFor(model => model.ProgrammeStatusName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProgrammeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoverImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlaceName)
            </td>                      
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>           
            <td>
                @Html.DisplayFor(modelItem => item.ProgrammeStatusName)
            </td>
            <td>
                <a asp-controller="ProgrammeDTO" asp-action="Edit" asp-route-id="@item.ProgrammeID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProgrammeID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProgrammeID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
