@model TicketSalesSystem.Models.Order

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderCreatedTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderCreatedTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaidTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaidTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Member)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Member.MemberID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentMethod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentMethod.PaymentMethodID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderStatus.OrderStatusID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Session)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Session.SessionID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Payment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Payment.PaymentTradeNO)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.OrderID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
