@model TicketSalesSystem.Models.FAQ

@{
    ViewData["Title"] = "常見問題詳細資訊";
}

<h1>@ViewData["Title"]</h1>

<div>
    
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.FAQTitle)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.FAQTitle)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.FAQDescription)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.FAQDescription)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.FAQPublishStatusID)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.FAQPublishStatus.FAQPublishStatusName)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.EmployeeID)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Employee.Name)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.FAQType.FAQTypeName)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.FAQType.FAQTypeName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FAQID">更新</a> |
    <a asp-action="Index">回到FAQ後管理總攬</a>
</div>
